body {
	font-family: Arial, sans-serif;
	background-color: #AFD8A7;
}
form {
	background-color: #C5EDAC;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	max-width: 500px;
	margin: 0 auto;
}
h2 {
	text-align: center;
	margin-top: 0;
	color: #444;
}
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.photo-row {
  display:block;
  justify-content: center;
}
.photo-row img {
    width: 200px;
    margin-right: 20px;
    cursor: pointer;
  }
  
#popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #C5EDAC;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}
.popup-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

#popupContent h2 {
  text-align: center;
  margin-top: 0;
  color: #444;
}

#popupContent p {
  margin-bottom: 20px;
  color: #555;
}

#closeButton {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#closeButton:hover {
  background-color: #3e8e41;
}
.hidden {
  display: none;
}